
  {%load static%}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Photo Graphy</title>

    <!-- Bootstrap core CSS -->
   
    <link rel="stylesheet" href="{%static ''%}//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{%static ''%}dist/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="{%static ''%}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{%static ''%}css/navmenu-reveal.css" rel="stylesheet">
    <link href="{%static ''%}css/style.css" rel="stylesheet">
  </head>
  <body>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
		 <div class="bar">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
    </button>
  </div>  
    <div class="navmenu navmenu-default navmenu-fixed-left">
      
     <ul class="nav navmenu-nav">
	     <li><a href="{%url 'index'%}">Home</a></li>
	<li><a href="{%url 'works'%}">Works</a></li>
	<li><a href="{%url 'gall'%}">Gallery</a></li>
	<li><a href="{%url 'blog'%}">Blog</a></li>
	<li><a href="{%url 'contact'%}">Contact</a></li>
	{% if user.is_authenticated %}
	<li><a href="{%url 'logout-r'%}">logout</a></li>
	{% else %}
	<li><a href="{%url 'login'%}">login</a></li>
	{% endif %}
      </ul>
      <a class="navmenu-brand" href="#"><img src="{%static ''%}img/logo.png" width="160"></a>
      <div class="social">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-skype"></i></a>
      </div>
      <div class="copyright-text">©Copyright <a href="{%url 'contact'%}">bobzz</a> 2020 </div>
    </div>
    <div style ="margin-left:450px">
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
