{%load static%}

<body>
  <div class="bar">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
    </button>
  </div>  
    <div class="navmenu navmenu-default navmenu-fixed-left">
      
     <ul class="nav navmenu-nav">
	     <li><a href="{%url 'index'%}">Home</a></li>
	<li><a href="{%url 'works'%}">Works</a></li>
	<li><a href="{%url 'gall'%}">Gallery</a></li>
	<li><a href="{%url 'blog'%}">Blog</a></li>
	<li><a href="{%url 'contact'%}">Contact</a></li>
	<li><a href="{%url 'signview'%}">signup</a></li>
	<li><a href="{%url 'login'%}">login</a></li>
      </ul>
      <a class="navmenu-brand" href="#"><img src="{%static ''%}img/logo.png" width="160"></a>
      <div class="social">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-skype"></i></a>
      </div>
      <div class="copyright-text">©Copyright <a href="https://themewagon.com/"> ThemeWagon</a> 2015 </div>
    </div>
