{%load static%}
{%include 'head.html'%}
{%include 'nav.html'%}

    <!-- Custom styles for this template -->
    <link href="{%static ''%}css/navmenu-reveal.css" rel="stylesheet">
    <link href="{%static ''%}css/style.css" rel="stylesheet">
    <link href="{%static ''%}css/full-slider.css" rel="stylesheet">
    <link href="{%static ''%}css/Icomoon/style.css" rel="stylesheet" type="text/css" />
    <link href="{%static ''%}css/animated-masonry-gallery.css" rel="stylesheet" type="text/css" />
    <link href="{%static ''%}css/lightbox.css" rel="stylesheet" type="text/css" />
    


    <div class="canvas gallery"><br>
        <h1 class="blog-post-title text-center">Have a look to my works</h1>
        <span class="title-divider"></span>

      <div id="container" class="container">
        <div id="gallery">
          <div id="gallery-header">
            <div id="gallery-header-center">
              <div id="gallery-header-center-left">
                <!-- <div id="gallery-header-center-left-icon">
                </div> -->
                <div id="gallery-header-center-left-title">All Galleries</div>
              </div>
            <div id="gallery-header-center-right">
              <div class="gallery-header-center-right-links" id="filter-all">All</div>
                <div class="gallery-header-center-right-links" id="filter-studio">Studio</div>
                <div class="gallery-header-center-right-links" id="filter-landscape">Landscapes</div>
            </div>
            </div>
          </div>
        <div id="gallery-content">
          <div id="gallery-content-center">
            <a href="{%static ''%}assets/studio1.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio1.jpg" id="imagelightbox" class="all studio"/> </a>
            <a href="{%static ''%}assets/landscape1.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape1.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio2.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio2.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/studio25.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio25.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape2.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape2.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio27.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio27.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/studio3.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio3.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape3.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape3.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio26.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio26.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/studio4.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio4.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape4.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape4.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio5.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio5.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape5.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape5.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio6.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio6.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape6.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape6.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio7.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio7.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape7.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape7.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio8.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio8.jpg" class="all studio"/>
            <a href="{%static ''%}assets/landscape8.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape8.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio9.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio9.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape9.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape9.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio10.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio10.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape10.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape10.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio11.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio11.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape11.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape11.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio12.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio12.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape12.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape12.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio13.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio13.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape13.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape13.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio14.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio14.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape14.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape14.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio15.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio15.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape15.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape15.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio16.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio16.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape16.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape16.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio17.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio17.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape17.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape17.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio18.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio18.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/landscape18.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/landscape18.jpg" class="all landscape"></a>
            <a href="{%static ''%}assets/studio19.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio19.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/studio20.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio20.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/studio21.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio21.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/studio22.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio22.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/studio23.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio23.jpg" class="all studio"/></a>
            <a href="{%static ''%}assets/studio24.jpg" data-lightbox="studio1"><img src="{%static ''%}assets/studio24.jpg" class="all studio"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{%static ''%}js/jquery.js"></script>
    <script type="text/javascript" src="{%static ''%}js/jquery-ui-1.10.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="{%static ''%}js/isotope.js"></script>
    <script type="text/javascript" src="{%static ''%}js/animated-masonry-gallery.js"></script>
    <script src="{%static ''%}dist/js/jasny-bootstrap.min.js"></script>
    <script src="{%static ''%}js/main.js"></script>
    <script src="{%static ''%}js/lightbox.js"></script>
  </body>
</html>
